@page "/"
@implements IDisposable
@inject NavigationManager _navigationManager
<h1>Hello, Blazor!</h1>

<h4>@_leftTime 초 뒤 이동합니다</h4>

@code {
    int _leftTime = 2;

    System.Timers.Timer timer = new System.Timers.Timer();

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        timer.Interval = 1000;
        timer.Elapsed += async (s, e) =>
        {
            if (_leftTime <= 1)
            {
                await this.InvokeAsync(() =>
                {
                    timer.Stop();
                    _navigationManager.NavigateTo("/chat", true);
                });
            }
            else
            {
                await this.InvokeAsync(() =>
                {
                    _leftTime--;
                    StateHasChanged();
                });
            }
        };

        timer.Start();

    }

    public void Dispose()
    {
        timer.Dispose();
    }
}
