@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    
}
<h1>@ViewData["Title"]</h1>

<div>@ViewData["x"]</div>
<div>@ViewData["y"]</div>

<p>Use this page to detail your site's privacy policy.</p>
